<div class="span3">
  <ul class="nav nav-list sidetiq-sidenav">
    <li>
      <a href="<%= " #{root_path}sidetiq" %>">
        <i class="icon-chevron-right"></i>
        Home
      </a>
    </li>
    <li>
      <a href="<%= "#{root_path}sidetiq/locks" %>">
        <i class="icon-chevron-right"></i>
        Locks
      </a>
    </li>
  </ul>
</div>
