<div class="span3">
  <ul class="nav nav-list sidetiq-sidenav">
    <li>
      <a href="/sidetiq">
        <i class="icon-chevron-right"></i>
        Home
      </a>
    </li>
    <li>
      <a href="/sidetiq/locks">
        <i class="icon-chevron-right"></i>
        Locks
      </a>
    </li>
  </ul>
</div>
