header.row
  .span5
    h3 Recurring Jobs

- if @schedules.length > 0
  table class="table table-striped table-bordered table-white" style="width: 100%; margin: 0; table-layout:fixed;"
    thead
      th style="width: 50%" Worker
      th style="width: 20%" Queue
      th style="width: 20%" Next Run
      th style="width: 10%" Actions
    - @schedules.each do |worker, schedule|
      tr
        td
          a href="#{root_path}sidetiq/#{worker.name}"= worker.name
        td= worker.get_sidekiq_options['queue']
        td
          == relative_time(schedule.next_occurrence(@time))
        td
          form action="#{root_path}sidetiq/#{worker.name}/trigger" method="post"
            input.btn.btn-danger.btn-small type="submit" name="trigger" value="Trigger" data-confirm="Are you sure you want to trigger this job?"
- else
  .alert.alert-success No recurring jobs found.

